.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  max-height: 6vh;
  max-width: 8vh;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.board {
  position: relative;

}

.lockRow {
  display: inline-block;
  position: relative;
}

.sumSquare {
  display: inline-block;
  position: absolute;
}

.sumRow{
  position: absolute;

}

.littleRoom{
  padding: 40px;
}